body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.section {
	text-align: center;
}


.input_counts {
	width: 50px;
	margin-right: 20px;
}

.counts {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#submit {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 25px;
}
